/* Основные стили приложения */
.root {
    -fx-font-family: "Arial";
    -fx-base: #f0f0f0;
    -fx-background: #f9f9f9;
}

/* Стили для кнопок */
.button {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-padding: 8 20 8 20;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-min-width: 100px;
}

.button:hover {
    -fx-opacity: 0.9;
}

#sendButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

#recordButton {
    -fx-background-color: #ff4444;
    -fx-text-fill: white;
    -fx-min-width: 120px;
}


.text-field {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3, 0, 0, 1);
    -fx-background-radius: 15;
    -fx-padding: 8 15 8 15;
    -fx-min-width: 400px;
    -fx-pref-width: 500px;
    -fx-max-width: 600px;
    -fx-font-size: 14px;
}

/* Стили для списка сообщений */
.list-view {
    -fx-border-color: #ddd;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-padding: 5;
    -fx-background-color: white;
}

.list-cell {
    -fx-padding: 5;
    -fx-background-color: transparent;
}

.list-cell:empty {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* Стили для счетчиков */
#charCountLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 8 10 8 0;
    -fx-text-fill: #555;
}

#recordingTimeLabel {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 8 0 8 15;
    -fx-text-fill: #666;
}

/* Контейнеры для сообщений */
.message-container {
    -fx-padding: 8 12 8 12;
}

/* Стили для нижней панели */
.bottom-panel {
    -fx-background-color: #e9e9e9;
    -fx-padding: 12px;
    -fx-background-radius: 5;
    -fx-spacing: 12px;
}


.message-input-container {
    -fx-spacing: 12px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10px;
}

.controls-container {
    -fx-spacing: 12px;
    -fx-alignment: center-left;
    -fx-padding: 5px 0 5px 10px;
}


@media (max-width: 600px) {
    .text-field {
        -fx-min-width: 300px;
        -fx-pref-width: 350px;
        -fx-max-width: 400px;
    }

    .button {
        -fx-padding: 6 15 6 15;
        -fx-min-width: 80px;
    }

    #recordButton {
        -fx-min-width: 100px;
    }

    #clearHistoryButton {
        -fx-background-color: #ff4444;
        -fx-text-fill: white;
        -fx-padding: 5 15 5 15;
        -fx-background-radius: 5;
    }

    #clearHistoryButton:hover {
        -fx-background-color: #cc0000;
    }
}

